@{
    ViewData["Title"] = "Listagem de CEP's";
}

<div class="text-center">
    <h1 class="display-4">Busca CEP</h1>
    <p>Digite um CEP válido:*</p>

    <input type="text" id="Language" style="width:270px;">
    <br>
    <button>Buscar</button>
    <br>
    @ViewBag.result

</div>
